* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#root {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
button {
  color: aliceblue;
  width: 200px;
  height: 50px;
  border: 3px solid red;
  background-color: rgb(143, 131, 131);
  border-color: rgb(202, 255, 121);
  border-radius: 40px;
}
button:hover {
  background-color: rgb(255, 78, 78);
}
